:root {
  --font-bowlby: 'Bowlby One SC', sans-serif; // Fallback
  --font-poppins: 'Poppins', sans-serif; // Fallback
}

$color-blue-dark: #020D23;
$color-blue-secondary: #011944; // Kept as requested
$color-blue-primary: #0059FF;
$color-blue-light: #A9CCFF;
$color-blue-pale: #EEF4FE;

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
  background-color: $color-blue-dark;
  color: white;
}

// Reset standard
* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}